:root {
	--dir: directory;
}

body {
	background-color: #abb4c8;
	word-wrap: break-word;
	color: #1b2532;
}

input {
	color: rgba(251, 250, 244, 1);
	outline: none;
}

input[type='file'] {
	color: transparent;
}

input[type='radio'] {
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #7887a9;
	color: #7887a9;
	top: 2px;
	height: 15px;
	width: 15px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 5px;
	outline: none;
}


::placeholder {
	color: rgba(251, 250, 244, 0.75);
}

.title {
	color: rgba(251, 250, 244, 1);
	text-shadow: 2px 2px 1px #1b2532;
	font-weight: 700;
	font-size: 16pt;
	margin: 0px 0px 0px 0px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #1b2532;
	color: #abb4c8;
	text-align: center;
}

.inFiles, .clearBut {
	outline: none;
	padding: 0px;
	border: none;
}

.inFiles::-webkit-file-upload-button {
	visibility: hidden;
}

.inFiles::before, .clearBut::before {
	content: 'Select Video Files';
	background-color: #abb4c8;
	color: rgba(251, 250, 244, 1);
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532 ;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
	outline: none;
	padding: 8px 10px;
	white-space: nowrap;
	cursor: pointer;
	text-shadow: 2px 2px 1px #1b2532;
	font-weight: 700;
	font-size: 12pt;
}

.clearBut::before {
	content: 'Refresh';
}


.webmInfo, .gifInfo {
	display: none;
}

.vidController {
	background-color: #7887a9;
	border: 1px solid #1b2532;
	border-style: solid;
	border-width: 5px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
	padding: 0px 10px 10px 10px;
	margin: 0px 10px 10px 10px;
}


.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	object-fit: cover;
	text-align: left;
	grid-gap: 20px;
	margin: 0px 10px 20px 10px;
}

.column {
	padding: 20px 20px 20px 20px;
	background-color: #7887a9;
	border: 1px solid #1b2532;
	border-style: solid;
	border-width: 5px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.queueRow {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	object-fit: cover;
	text-align: center;
	grid-gap: 20px;
	margin: 0px 10px 10px 10px;
}

.queueCol {
	line-height: 25px;
	width: 280px;
	padding: 0px;
	word-wrap: break-word;
}

.queueButtons {
	text-align: center;
}

.mainButtons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	object-fit: cover;
	text-align: center;
}

.topButCol {
	background-color: none;
	margin-top: 20px;
}

.row0 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	object-fit: cover;
	text-align: left;
	grid-gap: 10px;
	margin-bottom: 10px;
}

.outRow {
	display: grid;
	grid-template-columns: 150px 250px;
	object-fit: cover;
	text-align: left;
	grid-gap: 20px;
}

.outCol {
	background-color: none;
	line-height: 25px;
	padding: 0px;
	word-wrap: break-word;
}

.formRow {
	display: grid;
	grid-template-columns: 125px 195px;
	object-fit: cover;
	grid-gap: 0px;
	margin: 0px 40px 0px 0px;
}

.formColumn {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}

.formButRow {
	display: grid;
	grid-template-columns: 125px 125px 125px;
	width: 100%;
	object-fit: cover;
	grid-gap: 10px;
}

.formButCol {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}

.cropRow {
	display: grid;
	grid-template-columns: 100px 55px 20px 55px;
	object-fit: cover;
	grid-gap: 0px;
	margin: 5px 40px 0px 0px;
}

.cropCol {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}

.scaleRow {
	display: grid;
	grid-template-columns: 100px 100px;
	object-fit: cover;
	grid-gap: 0px;
	margin: 0px 40px 0px 0px;
}

.scaleCol {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}


.extRow {
	display: grid;
	grid-template-columns: 110px 110px;
	object-fit: cover;
	grid-gap: 0px;
	margin: 5px 40px 0px 0px;
}

.extCol {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}

.extraRow {
	display: grid;
	grid-template-columns: 110px 110px;
	object-fit: cover;
	grid-gap: 0px;
	margin: 5px 40px 0px 0px;
}

.extraCol {
	background-color: none;
	line-height: 25px;
	width: 100%;
	padding: 0px;
}


.video, .clipProgress {
	background-color: #abb4c8;
	border: 1px solid #1b2532;
	margin-top: 10px;
	padding: 10px 10px 10px;
	border: 1px solid #1b2532;
	border-style: solid;
	border-width: 5px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.video {
	overflow: auto;
}

.textBox, .clipTextBox, .cropBox, .extraBox, .scaleBox, .outDirBox, .ffCmd {
	width: 100%;
	height: 20px;
	background: #7887a9;
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.ffCmd {
	display: none;
	overflow: auto;
	padding: 0px 0px 25px 0px;
	color: white;
}

.outDirBox {
	width: 95%;
	margin-top: -2px;
	display: none;
	overflow: auto;
	white-space: nowrap;
	padding: 2px 5px 10px 5px;
	color: rgba(251, 250, 244, 1);
}

.outDirBox::-webkit-scrollbar {
	display: none
}

.errBox {
	width: 100%;
	height: 20px;
	background: red;
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.cropBox, .scaleBox {
	text-align: center;
}

.clipTextBox {
	width: 100%;
}

.button, .queueButton {
	background-color: #7887a9;
	cursor: pointer;
	color: rgba(251, 250, 244, 1);
	text-shadow: 2px 2px 1px #1b2532;
	font-weight: 500;
	font-size: 10pt;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
	outline: none;
}

.dirButton, .dirButtonCh {
	outline: none;
	margin-top: 6px;
}

.dirButton::-webkit-file-upload-button, .dirButtonCh::-webkit-file-upload-button{
	visibility: hidden;
}

.dirButton::before, .dirButtonCh::before {
	content: 'Select Output Folder';
	padding: 8px 5px;
	background-color: #7887a9;
	cursor: pointer;
	color: rgba(251, 250, 244, 1);
	text-shadow: 2px 2px 1px #1b2532;
	font-weight: 500;
	font-size: 10pt;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
	outline: none;
}

.dirButtonCh::before{
	background-color: #1b2532;
}

.queueBox, .infoOut {
	background-color: #abb4c8;
	border: 1px solid #1b2532;
	margin-top: 10px;
	padding: 10px 10px 10px;
	border: 1px solid #1b2532;
	border-style: solid;
	border-width: 5px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.progBar {
	width: 10%;
	border: 1px solid #1b2532;
	border-style: solid;
	border-width: 2px;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
	color: rgba(251, 250, 244, 1);
	height: auto;
	line-height: 33px;
	background-color: #2ba194;
	text-align: center;
	font-size: 10pt;
}

.crf {
	width: 100%;
	padding-top: 10px;
}

.jqSlide {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

.ui-slider {
	background: #7887a9;
	border-top-color: #1b2532;
	border-left-color: #1b2532;
	border-right-color: #656ba3;
	border-bottom-color: #656ba3;
}

.infoOut {
	background-color: black;
	color: white;
	overflow: auto;
	width: 252px;
	height: 100px;
}

@keyframes blink {
	/**
	 * At the start of the animation the dot
	 * has an opacity of .2
	 */
	0% {
		opacity: .2;
	}
	/**
	 * At 20% the dot is fully visible and
	 * then fades out slowly
	 */
	20% {
		opacity: 1;
	}
	/**
	 * Until it reaches an opacity of .2 and
	 * the animation can start again
	 */
	100% {
		opacity: .2;
	}
}

.processing span {
	/**
	 * Use the blink animation, which is defined above
	 */
	animation-name: blink;
	/**
	 * The animation should take 1.4 seconds
	 */
	animation-duration: 1.4s;
	/**
	 * It will repeat itself forever
	 */
	animation-iteration-count: infinite;
	/**
	 * This makes sure that the starting style (opacity: .2)
	 * of the animation is applied before the animation starts.
	 * Otherwise we would see a short flash or would have
	 * to set the default styling of the dots to the same
	 * as the animation. Same applies for the ending styles.
	 */
	animation-fill-mode: both;
}

.processing span:nth-child(2) {
	/**
	 * Starts the animation of the third dot
	 * with a delay of .2s, otherwise all dots
	 * would animate at the same time
	 */
	animation-delay: .2s;
}

.processing span:nth-child(3) {
	/**
	 * Starts the animation of the third dot
	 * with a delay of .4s, otherwise all dots
	 * would animate at the same time
	 */
	animation-delay: .4s;
}
